.navbar {
    border-bottom: solid 1px;
    background-color: #262336;
    padding-bottom: 0;
}

.navbar img {
    position: relative;
    left: 5px;
    bottom: 8px;
    height: 30px;
    width: 30px;
}

.navbarlogotext {
    position: relative;
    left: 5px;
}

.navbartext {
    margin: 0;
}

.navbartext h6 {
    margin: 0;
    font-size: 6px;
    color: #d7d6db;
}

.navbartext p {
    color: #9b98a8;
    font-size: 5px;
}

.navbarlinks {
    color: #68647d;
    font-size: 8px;
    display: contents;
}

.navbarlinks li {
    display: inline;
}

.topsection {
    background-color: #262336;
    text-align: center;
}

.topsection h6 { 
          /** TEXT GRADIENT */ color: #a6a4b2; background-image: -webkit-linear-gradient(90deg, #a6a4b2 11%, #cbc9d0 50%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent;      
}

.topsectiontext2 h5 {
    color: white;
}

.topsectiontext4 {
    color: #9b98a8;
    font-size: 5px;
}

.topsection button {
    height: 20px;
    width: 61px;
    font-size: 9px;
    position: relative;
    left: 136px;
    bottom: 10px;
    border-radius: 5px;
    color: white;
    background-color: #9c96b8;
}

.middletopsection {
    background-color: #f29b66;
    padding: 10px;
}

.mtsec1item1 img {
    height: 40px;
    width: 40px;
    position: relative;
    left: 134px;
    top: 3px;
}

.mtsec1item2, .mtsec1item3 {
    text-align: center;
}

.mtsec1item2 h6 {
    margin: 0;
    color: white;
}

.mtsec1item2 p {
    margin: 0;
    color: #dad9de;
}

.mtsec2item1 img {
    height: 40px;
    width: 40px;
    position: relative;
    left: 134px;
    top: 3px;
}

.mtsec2item2 {
    text-align: center;
}

.mtsec2item2 h6 {
    margin: 0;
    color: white;
}

.mtsec2item2 p {
    margin: 0;
    color: #dad9de;
}

.mtsec2item3 {
    text-align: center;
}

.mtsec3item1 img {
    height: 40px;
    width: 40px;
    position: relative;
    left: 134px;
    top: 3px;
}

.mtsec3item2 {
    text-align: center;
}

.mtsec3item2 h6 {
    color: white;
    margin: 0;
}

.mtsec3item2 p {
    margin: 0;
    color: #dad9de;
}

.mtsec3item3 {
    text-align: center;
}

.mtsec4item1 img {
    height: 40px;
    width: 40px;
    position: relative;
    left: 134px;
    top: 3px;
}

.mtsec4item2 {
    text-align: center;
}

.mtsec4item2 h6 {
    color: white;
    margin: 0;
}

.mtsec4item2 p {
    margin: 0;
    color: #dad9de;
}

.mtsec4item3 {
    text-align: center;
}

.bottommiddle {
    background-color: #e8e8ea;
}

.botmiddleimages img {
    height: 332px;
    width: 300px;
    padding: 3px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.bottomsection {
    background-color: #262336;
}

.bottomsection h6 {
    /** TEXT GRADIENT */ color: #a6a4b2; background-image: -webkit-linear-gradient(90deg, #a6a4b2 11%, #cbc9d0 50%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent; 
}

.bottomsection li {
    color: white;
}

.bottomsection p {
    color: #bebcbe;
}

li::marker {
    color: orange;
}